html, body{
	height: 100%;
	width: 100%;
	background: #262626;
	font-family: Lato;
	color:white;
}

.container{
	display: flex;
/*	flex-direction: column;*/
	flex-wrap: wrap;
	justify-content: center;
}

.logo {
	display: flex;
	width: 10%;
	margin: 2% auto;
}
.header{
	flex: 1 100%;
}

.row{
	display: flex;
	flex-direction: row;
}

.col-1{
	flex-grow: 1;
}

