html, body{
	height: 100%;
	width: 100%;
	background: #262626;
}

.container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

span{
	display: flex;
	margin: 0 17%; 
	padding: 2%;
	width: 100%;
}

.logo {
	display: flex;
	width: 15%;
	margin: 5% auto;
}

.search{
	width: 60%;
	border: none;
	color: #404040;
	border-bottom: 4px solid #404040; 
	background: none;
	font-size: 350%;
	padding: 0;
	display: flex;
	justify-content: center;
}

input::-webkit-input-placeholder{
	color: #737373;
}

.search:focus{
	color: #c0c0c0;
	border-bottom-color: #595959; 
	outline: none;
}

.results{
	background: #272727;
	width: 60%; 
}

span ul li{
	list-style-type: none;
	color: #707070;
}
	

/* 
	display: flex;
	justify-content: center;
	align-items: center;
*/

